body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #fff1e0;
}

header {
    background: #fb8d2e;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 10px 0;
}

.about_header {
    text-align: left;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2em;
    margin: 2em 0;
}

#about {
    background: #ffe5c5;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-text {
    flex: 1;
    padding-right: 1em;
}

.about-photo {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 200px;
}

.about-photo img {
    max-width: auto;
    height: 500px;
    border-radius: 8px;
}

.project {
    margin: 1em 0;
}

.project-title {
    background: #fb8d2e;
    color: #fff;
    padding: 0.5em;
    text-align: left;
    width: 100%;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
}

.project-content {
    display: none;
    padding: 1em;
    background: #ffd3ae;
    border: 1px solid #ddd;
    border-top: none;
}

